@model PagedList.IPagedList<QLNhanSu.Models.NhanVien>
@using PagedList.Mvc

@{
    ViewBag.Title = "Phòng ban " + ViewBag.PBName;
}

<h2>Danh sách nhân viên phòng ban @ViewBag.PBName</h2>
<br />

<a class="btn btn-primary" href="#">Xuất danh sách nhân viên</a>
<p></p>
<table class="table table-bordered table-hover">
    <tr class="bg-success">
        <th>
            Họ tên
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Chức vụ
        </th>
        <th>
            Học vấn
        </th>
        <th>
            Chuyên ngành
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.HOTEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GIOITINH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SODIENTHOAI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChucVu.TENCV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TrinhDoHocVan.TENTRINHDO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CHUYENNGANH)
    </td>
    <td>
        <a href="@Url.Action( "Index", "ChuyenPhongBan", new { id = item.MANV })" class="btn btn-primary">Quá trình công tác</a>
        <a href="@Url.Action( "Create", "ChuyenPhongBan", new { id = item.MANV })" class="btn btn-info">Chuyển nhân viên</a>
    </td>
</tr>
    }
</table>
<div>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page
    }))
</div>
