@model QLNhanSu.Models.NhanVien
@using QLNhanSu.Models

@{
    ViewBag.Title = "Xóa nhân viên";
}

<h2>Xóa nhân viên</h2>
<br />
<br />
<br />
<br />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-5">
            @if (Model.ANHDAIDIEN != null)
            {
                @Html.Image("../../" + Model.ANHDAIDIEN, "", "300", "400")
            }
            else
            {
                @Html.Image("../../Images/default.png", "", "300", "400")
            }
        </div>
        <div class="col-md-4">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.HOTEN)</td>
                        <td>@Html.DisplayFor(model => model.HOTEN)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DANTOC)</td>
                        <td>@Html.DisplayFor(model => model.DANTOC)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.GIOITINH)</td>
                        <td>@Html.DisplayFor(model => model.GIOITINH)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.SODIENTHOAI)</td>
                        <td>@Html.DisplayFor(model => model.SODIENTHOAI)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QUEQUAN)</td>
                        <td>@Html.DisplayFor(model => model.QUEQUAN)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.NGAYSINH)</td>
                        <td>@Html.DisplayFor(model => model.NGAYSINH)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ChucVu.TENCV)</td>
                        <td>@Html.DisplayFor(model => model.ChucVu.TENCV)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PhongBan.TENPB)</td>
                        <td>@Html.DisplayFor(model => model.PhongBan.TENPB)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.TrinhDoHocVan.TENTRINHDO)</td>
                        <td>@Html.DisplayFor(model => model.TrinhDoHocVan.TENTRINHDO)</td>
                    </tr>

                </tbody>
            </table>
            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a href='@Url.Action("Index")' class="btn btn-primary">Quay lại</a>
            </div>
        </div>
    }
</div>
