@model PagedList.IPagedList<QLNhanSu.Models.NhanVien>
@using PagedList.Mvc
@{
    ViewBag.Title = "Nhân viên";
}
<h2>Nhân viên</h2>
<br />
<div style="display:flex; justify-content:space-between">
    <div style="display:flex" >
        <a class="btn btn-primary" style="margin-right:5px" href='@Url.Action("Create")'>Thêm nhân viên</a>
        @using (Html.BeginForm("Export", "NhanVien", FormMethod.Post))
        {
            <input type="submit" value="Xuất danh sách nhân viên" class="btn btn-primary" />
            <input name="fromdate" type="hidden" value="@ViewBag.fromdate" />
            <input name="todate" type="hidden" value="@ViewBag.todate" />
            <input name="searchString" type="hidden" value="@ViewBag.searchString" />
        }
    </div>
    <div>
        @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
        {
            <span>Từ ngày </span><input id="fromdate" name="fromdate" type="date" />
            <span>Đến ngày </span><input id="todate" name="todate" type="date" />
            <input type="text" name="searchString" />
            <input type="submit" value="Tìm kiếm" class="btn btn-success" />
        }
    </div>
    
</div>
<p></p>

<table class="table table-bordered table-hover">
    <tr class="bg-success">
        <th>
            Mã nhân viên
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Trình độ học vấn
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Ngày bắt đầu
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MANV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOTEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrinhDoHocVan.TENTRINHDO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIOITINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYBATDAU)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.MANV })" class="btn btn-info">Chi tiết</a>
                <a href="@Url.Action( "Index", "ChuyenPhongBan", new { id = item.MANV })" class="btn btn-primary">Quá trình công tác</a>
                <a href='@Url.Action("Edit", new { id = item.MANV })' class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Sửa</a>
                <a href='@Url.Action("Delete", new { id = item.MANV })' class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Xóa</a>
            </td>
        </tr>
    }
</table>
<div>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page
    }))
</div>